In [1]:
import pandas as pd

In [2]:
df =pd.read_excel(r'C:\Users\paras\Desktop\task\college_cutoffs.xlsx')

In [3]:
new_df = pd.DataFrame()

In [4]:
j=0
Branch_name =[]
Rank =[]
college_name =[]

In [5]:

for i in df['D']:
    j = j+1
    if ('Savitribai Phule Pune University' in str(i)):
        
       
        if('Civil Engineering' in df['D'][j-2]):
                   
    
            if(df['Unnamed: 1'][j+1]=='GOPENH' or df['Unnamed: 1'][j+1]=='GOPENS'):
                Branch_name.append(df['D'][j-2])
                college_name.append(df['D'][j-3])
                Rank.append(df['Unnamed: 1'][j+2])

In [6]:
new_df['Branch_name']=Branch_name
new_df['Rank']=Rank
new_df['college_name']=college_name

In [7]:
new_df.head(10)

,Branch_name,Rank,college_name
0,510819110 - Civil Engineering,38617,5108 - Nashik District Maratha Vidya Prasarak ...
1,510919110 - Civil Engineering,50417,"5109 - Sandip Foundation, Sandip Institute of ..."
2,512119110 - Civil Engineering,22937,5121 - K. K. Wagh Institute of Engineering Edu...
3,512119120 - Civil Engineering,32662,5121 - K. K. Wagh Institute of Engineering Edu...
4,512419110 - Civil Engineering,53420,5124 - Jagadamba Education Soc. Nashik's S.N.D...
5,513019110 - Civil Engineering,62679,5130 - Brahma Valley College of Engineering & ...
6,513919110 - Civil Engineering,37793,"5139 - Pravara Rural College of Engineering, L..."
7,515119110 - Civil Engineering,39672,5151 - MET Bhujbal Knowledge City MET League's...
8,516019110 - Civil Engineering,37829,5160 - Sanjivani Rural Education Society's San...
9,516119110 - Civil Engineering,36668,5161 - Dr. Vithalrao Vikhe Patil College of En...

In [8]:
new_df.sort_values("Rank",axis = 0, ascending = True).head(10)

,Branch_name,Rank,college_name
27,600619110 - Civil Engineering,1255,"6006 - College of Engineering, Pune"
26,600419110 - Civil Engineering,12456,6004 - Government College of Engineering & Res...
37,617519110 - Civil Engineering,12971,"6175 - Pimpri Chinchwad Education Trust, Pimpr..."
52,628919110 - Civil Engineering,14178,6289 - B.R.A.C.T's Vishwakarma Institute of In...
32,614619110 - Civil Engineering,16173,"6146 - MIT Academy of Engineering,Alandi, Pune"
2,512119110 - Civil Engineering,22937,5121 - K. K. Wagh Institute of Engineering Edu...
58,632519110 - Civil Engineering,23543,6325 - Alard Charitable Trust's Alard College ...
50,627819110 - Civil Engineering,28635,6278 - All India Shri Shivaji Memorial Society...
16,518419110 - Civil Engineering,32066,5184 - Amruta Vaishnavi Education & Welfare Tr...
3,512119120 - Civil Engineering,32662,5121 - K. K. Wagh Institute of Engineering Edu...